@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#shop-profile-wrapper {
  display: flex;
  align-items: left;
}

#shop-profile-categories {
  display: inline-block;
  align-items: left;
  background-color: #001f54;
  color: #fff;
  width: 20vw;
}

.shop-profile-category {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 1rem;
}

.shop-profile-category h3 {
  margin: 1rem 0;
}

#selected-shop-category {
  width: 80vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
