#selected-shop-category {
  width: 70%;
}

#create-shop-wrapper {
  justify-content: center;
  align-items: center;
}

.create-shop-option-selected {
  padding: 2rem 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-shop-option {
  display: none;
}

.create-shop-option-selected > .create-shop-option-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#optionSlider {
  padding: 2rem 9rem;
}

#create-shop-option-first-step {
  display: flex;
  justify-content: end;
  padding: 0 3rem;
}

.create-shop-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.create-shop-carousel-button {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.create-shop-carousel-button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

#create-shop-carousel-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.create-shop-carousel-bubble {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-shop-carousel-bubble-selected {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-shop-carousel-line {
  width: 3rem;
  height: 2px;
  background-color: #001f54;
}

.create-shop-option-image img {
  width: 15rem;
  height: 12rem;
}

.create-shop-option-text-wrapper {
  padding: 0 3rem;
}
