#apparel-wrapper {
  display: flex;
  padding-left: 1rem;
  border-bottom: 1px var(--secondary-color) solid;
}

.item {
  cursor: pointer;
  border-bottom: 2px #fff solid;
  margin: 0 1.5rem;
}

.item-selected {
  border-bottom: 2px var(--accent-color) solid;
  cursor: pointer;
  margin: 0 1.5rem;
}

.item-name {
  color: grey;
}

.item-name-selected {
  color: #000;
}

.item:hover {
  border-bottom: 2px var(--accent-color) solid;
  transition: 2s ease;
}

.item-name:hover {
  color: #000;
  transition: 0.5s ease;
}

#toggle-category {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 5);
  z-index: 10;
  padding-left: 2rem;
  border-bottom: 2px var(--accent-color) solid;
}

.man-apparel-item {
  color: var(--secondary-color);
}

.man-apparel-item:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 2px;
}
