#apparel-wrapper {
  display: flex;
  padding-left: 1rem;
  border-bottom: 1px #000 solid;
  /* position: fixed;*/
}

.item {
  cursor: pointer;
  border-bottom: #fff solid;
  margin: 0 1.5rem;
}

.item-selected {
  border-bottom: #000 solid;
  cursor: pointer;
  margin: 0 1.5rem;
}

.item-name {
  color: grey;
}

.item-name-selected {
  color: #000;
}

.item:hover {
  border-bottom: #000 solid;
  transition: 2s ease;
}

.item-name:hover {
  color: #000;
  transition: 0.5s ease;
}

#toggle-category {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 5);
  z-index: 10;
  border-top: 1px #000 solid;
  padding-left: 2rem;
}

.man-apparel-item {
  color: grey;
}

.man-apparel-item:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #000; /* Customize the underline color */
  text-decoration-thickness: 2px;
}
