#apparel-products {
  display: flex;
}

#apparel-results-container p {
  color: gray;
  font-size: 1rem;
}

#apparel-products-container {
  width: 25%;
  border-right: 1px lightgray solid;
  padding: 1rem 2rem;
}

#products-container {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 2rem;
}

#paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#apparel-loader-container {
  width: 75%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#apparel-loader-container h2 {
  margin-top: 5rem;
}
