#orders-wrapper {
  display: flex;
}

#orders-status-container {
  padding: 2rem;
  width: 80%;
}

#orders-title-container {
  border-bottom: 1px grey solid;
}

#orders-title-container h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--accent-color);
}

.order-card {
  border: 2px grey solid;
  margin-top: 2rem;
  background-color: #e1e3df;
}

.order-creation-info-container {
  padding: 0 1rem;
  color: var(--primary-color);
}

.order-product {
  display: flex;
  justify-content: space-between;
}

.order-product-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 2px grey solid;
  background-color: #fff;
}

.order-product-brand-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.order-product-image-container img {
  width: 5rem;
}

.order-product-additional-details {
  padding: 0 2rem;
}

.order-product-additional-details div {
  margin-bottom: 0.5rem;
}

.orders-sorting-container {
  padding: 0 2rem;
}

.order-delivery p {
  margin-top: 0;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: underline;
}

#orders-sorting-container {
  padding: 2rem 0;
  font-size: 1.2rem;
}

#orders-options-toggle-container {
  padding: 0.5rem 1rem;
  border: 2px var(--accent-color) solid;
  border-radius: 30px;
}

#orders-options-toggle-container-active {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 2px var(--accent-color) solid;
  transition: 0.5s ease-in;
}

#orders-sorting-options-active {
  color: var(--accent-color);
  display: block;
}

#orders-sorting-options {
  display: none;
}

#orders-initial-div-active {
  border-bottom: 1px var(--accent-color) solid;
  margin-bottom: 1rem;
}
