#review-order-container {
  display: flex;
}

#review-order-wrapper {
  padding: 1rem 2rem;
}

#review-order-title-conatainer {
  border-bottom: 1px #001f54 solid;
  margin-bottom: 1rem;
}

#review-order-images-container {
  display: flex;
}

.review-order-image-container {
  width: 14rem;
  height: 17rem;
}

.review-order-image-container img {
  width: 100%;
  height: 100%;
}

#review-order-subtotal-container {
  margin-top: 5rem;
  border-top: 1px #001f54 solid;
}

#review-order-shipping-details {
  display: flex;
  justify-content: space-between;
}
