#favourite-products-main-container {
  padding: 1rem 2rem;
}

#favoruite-products-title-container {
  border-bottom: 1px #001f54 solid;
  margin-bottom: 2rem;
}

#favourite-products-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
