#favourite-products-main-container {
  padding: 1rem 2rem;
}

#favoruite-products-title-container {
  border-bottom: 1px var(--accent-color) solid;
  margin-bottom: 2rem;
}

#favourite-products-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
