.visit-shop-listing {
  width: 14rem;
  height: 17rem;
  margin-bottom: 5rem;
}

.visit-shop-listing img {
  width: 100%;
  height: 100%;
}

.visit-shop-listing p {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
