#footer-wrapper {
  display: flex;
  padding: 1rem 2.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border-top: 3px solid var(--accent-color);
}

#promo {
  padding: 1rem 2rem;
  text-align: start;
  border-right: 3px solid var(--accent-color);
  border-collapse: collapse;
}

#promo ul {
  list-style-type: none;
}

#promo-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#btn-wrapper {
  padding-top: 1rem;
}

.promo-item {
  font-size: 18px;
}

.footer-icon {
  margin-right: 0.8rem;
}

#footer-btn {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem 3.5rem;
  margin-top: 1rem;
}

#footer-btn:hover {
  font-size: 1.2rem;
  padding: 0.7rem 2.9rem;
  transition: 0.8s;
}

#sections {
  display: flex;
  padding-top: 1.5rem;
}

.section {
  margin: 0 1rem;
}

.section-option {
  margin-top: 0.5rem;
}

.section ul {
  list-style-type: none;
}

.section-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
