#image-uploader-input-container {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.image-uploader-images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-uploader-image {
  width: 13rem;
  height: 15rem;
  border-radius: 5px;
}

.image-uploader-image-delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
