#visit-shop-container {
  display: flex;
}

#visit-shop-wrapper {
  width: 80%;
  padding: 2rem 4rem;
}

#visit-shop-title {
  display: flex;
  align-items: center;
}

#visit-shop-logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

#visit-shop-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#visit-shop-listings {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

#visit-shop-information {
  border: 2px var(--primary-color) solid;
  margin-top: 0.5rem;
}

.visit-shop-information-details {
  display: flex;
}

.visit-shop-information-details .option {
  display: flex;
}

.visit-shop-information-details .option > h4 {
  padding: 0.5rem 0;
  margin: 0;
}

.visit-shop-information-details .option:last-child {
  color: var(--primary-color);
}
