#shop-profile-categories {
  display: inline-block;
  align-items: left;
  background-color: var(--primary-color);
  color: #fff;
  width: 20vw;
}

.shop-profile-category {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 1rem;
}

.shop-profile-sidebar-icon {
  scale: 1.3;
  color: var(--accent-color);
}

.shop-profile-category h3 {
  margin: 1rem;
}
