#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f5e6ca;
  padding: 1rem 2rem;
}

#logo #logo-wrapper img {
  width: 70px;
  height: 70px;
}

#options {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
}
