#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-bottom: 3px solid var(--accent-color);
}

#logo #logo-wrapper h1 {
  font-family: "Unique", sans-serif;
  color: var(--accent-color);
  text-decoration: none;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  list-style: none;
}
