#cart-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#cart-products {
  width: 70%;
  height: 80vh;
  margin-right: 3rem;
}

.cart-section {
  border-bottom: 1px var(--accent-color) solid;
}

#cart-overview {
  width: 30%;
}

#overview-subtotal {
  display: flex;
  justify-content: space-between;
  color: grey;
}

#overview-delivery {
  display: flex;
  justify-content: space-between;
  color: grey;
}

#overview-discount {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.overview-prices-container p {
  color: #000;
  font-weight: 500;
}

#overview-delivery-additional {
  font-size: 0.75rem;
  margin: 0;
}

#promocode-container {
  display: flex;
  width: 100%;
}

#promocode-input {
  width: 70%;
}

#promocode-input input {
  width: 100%;
  padding: 0.75rem;
}

#promocode-apply-button {
  width: 30%;
  border: 2px var(--accent-color) solid;
}

#promocode-apply-button button {
  border: 0;
}

#promocode-apply-button button {
  width: 100%;
  padding: 0.75rem 2rem;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 500;
}

#overview-total-items {
  display: flex;
  justify-content: space-between;
  color: grey;
  border-bottom: 1px var(--accent-color) solid;
}

#procceed-button {
  width: 100%;
  margin-top: 1rem;
}

#procceed-button button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--accent-color);
  color: #fff;
  border: 2px var(--accent-color) solid;
  font-weight: 600;
}

#procceed-button button:hover {
  background-color: #fff;
  color: var(--accent-color);
  border: 2px var(--accent-color) solid;
}

#no-products-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#no-products-content h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

#no-products-content button {
  padding: 0.5rem 3rem;
  margin: 1.5rem;
  background-color: var(--accent-color);
  color: #fff;
  border: 2px var(--accent-color) solid;
  transition: 0.3s ease-in;
}

#no-products-content button:hover {
  background-color: #fff;
  color: var(--accent-color);
}
